statedir=${PWD}/state

export LOCAL_SUBDOMAIN=local.crdant.io    # change

if [[ -f ${statedir}/creds.yml ]] ; then
  export BOSH_ENVIRONMENT="$(dig bosh.${LOCAL_SUBDOMAIN} +short)"
  export BOSH_CLIENT=admin
  export BOSH_CLIENT_SECRET=$(bosh int ${statedir}/creds.yml --path /admin_password)
  export BOSH_CA_CERT=${statedir}/director_ca_cert
  export CREDHUB_CA_CERT=${statedir}/credhub_ca_cert
fi

watch_file ${statedir}/creds.yml
PATH_add ./bin
